.intro{
    .phone-and-keyboard{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba( $dark-orange , .8);
        }
        @include mq( $mobile-breakpoint ){
            position: absolute;
        }
    }
   
}